USE [master]
GO
/****** Object:  Database [CLINICMANAGEMENT]    Script Date: 7/27/2023 2:28:21 AM ******/
CREATE DATABASE [CLINICMANAGEMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLINICMANAGEMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CLINICMANAGEMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLINICMANAGEMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CLINICMANAGEMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLINICMANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLINICMANAGEMENT]
GO
/****** Object:  Table [dbo].[MEDICAL]    Script Date: 7/27/2023 2:28:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL](
	[MEDICALID] [varchar](15) NOT NULL,
	[PATIENTNAME] [nvarchar](50) NULL,
	[AGE] [int] NULL,
	[GENDER] [nvarchar](10) NULL,
	[OCCUPATION] [nvarchar](50) NULL,
	[DOCTOR] [nvarchar](50) NULL,
	[DATEAPM] [date] NULL,
	[CLINIC] [int] NULL,
	[NOTE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
